.header {
  background: var(--header-bg-color);
  &__title {
    display: flex;
    align-items: center;
    gap: 15px;
    line-height: 70px;
    font-size: 1rem;
    color: var(--header-title-color);
  }
  &__logo {
    width: 3.2rem;
    height: 3.2rem;
  }
  &__link {
    font-size: 2.7rem;
    font-weight: 500;
  }
}